@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {

    --color0: #1F2027;
    --color1: #200E3D;
    --color2: #3D366E;
    --color3: #942BE5;
    --color4: #52C5E0;
    --color5: #ADD8E6;


    --font1: 'Days One', sans-serif;
    --font2: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color3);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--color1);
    position: fixed;
}

nav a {
    margin-left: 20px;
    font-family: var(--font2);
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--color4);
}

section.hero {
    background-color: var(--color3);
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container img {
    margin-top: 130px;
    width: 450px;
    border-radius: 50%;
}

div.container h1 {
    margin-bottom: 100px;
    font-family: var(--font1);
    text-align: center;
    font-size: 1.6em;
}

section.about-me {
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 400px;
    width: 90%;
    box-shadow: 5px 5px 10px rgb(49, 49, 49);
}

section.about-me h2 {
    width: 80%;
    text-align: center;
    font-family: var(--font1);
    margin: 60px 50px 50px 50px;
}

section.about-me img {
    width: 405px;
}

div.about-me-text p {
    width: 400px;
    font-family: var(--font2);
    margin: 20px 70px 20px 70px;
    text-align: justify;
}

section.projects {
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
    width: 100%;
}

section.projects h2 {
    width: 80%;
    margin: 80px 0px 40px 0px;
    font-family: var(--font1);
    text-align: center;
    color: white;
}

div.earth, div.bbc {
    margin-bottom: 40px;
    display: flex;
    align-items: self-end;
    width: 400px;
    height: 400px;
    background-image: url(../images/earth.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}

#bbc-logo {
    background-image: url(../images/bbc-news.jpg)
}

div.facts, div.news {
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    color: black;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

div.facts:hover, div.news:hover {
    height: 160px;
    transition: 500ms;
}

div.facts h2, div.news h2 {
    margin: 20px auto;
    font-size: 1.1em;
    color: black;
}

div.facts p, div.news p {
    margin-bottom: 20px;
    font-family: var(--font2);
}

div.facts a, div.news a {
    font-family: var(--font2);
    text-decoration: none;
}

section.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--color2);
}

section.contact h2 {
    padding-top: 90px;
    padding-bottom: 20px;
    width: 100%;
    font-family: var(--font1);
    color: white;
    text-align: center;
}

section.contact p {
    padding-bottom: 40px;
    width: 100%;
    font-family: var(--font2);
    color: white;
    text-align: center;
}

div.cinfo label, div.cmsg label {
    font-family: var(--font2);
    color: white;
    text-align: center;
}

div.cinfo input[type=text] {
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: var(--font2);
    text-indent: 20px;
}

div.cinfo input[type=email] {
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: var(--font2);
    text-indent: 20px;
}

div.cmsg textarea {
   min-width: 400px;
   height: 250px;
   border-radius: 5px; 
}

div.cmsg button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    position:relative;
    float: right;
    font-family: var(--font2);
    background-color: var(--color5);
    font-weight: bold;
    color: var(--color2);
    border: none;
    border-radius: 5px;
}

div.cmsg button:hover {
    color: white;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    font-family: var(--font2);
    color: white;
    background-color: var(--color0);
}

.ftext p {
    padding: 10px 0px;
}

.ficons a {
    padding: 10px 0px;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.ficons a:hover {
    color: var(--color5);
}